* {
    box-sizing: border-box;
}

html{
    
    min-height: 100%;
    scroll-behavior: smooth;
}

#GenreResults{
  display: flex; /* flexbox for wrapping */
  flex-wrap: wrap;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}
body {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    background: #171717 ;
    display: block;
    font-weight: 200;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover; 
}
h3{
    align-content: center;
}

#title {
    font-size: 160px;
    color: white;
    font-weight: 700;
}

.searchBoxIndex input{
    height: 1rem;
    font-size: 1rem;
    padding: .5rem;
    vertical-align: bottom;
}
.topnav .logo{
    background-image: url("../img/680f934702c0daef6b73849394c67ca8.png");
    padding-left: 1em;
    padding-right: 1em;
    left: true;
    contain: content;
    background-repeat: no-repeat;
    background-size: contain;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
section a{
    text-decoration: none;
    color: gray;
}
footer a{
    color: darkslategray;
    text-decoration: none;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 50px;
    transition-duration: .4s;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    height: 60px;
    transition-timing-function: linear;
}
.topnav .icon {
    display: none;
}

#social-links{
    display:none;
}
.Gyuser{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    color:red;
}
h1 {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: 15px;
}

h2{
    height: 15px;
    padding-bottom: .1rem;
}
.searchBoxIndex{
    text-align: center;
    padding: .5rem;
}

.section1{
    flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    padding: 1em 1em 1em 1em;
}

.cardTitle {
    font-weight: 800;
}

.Howto{
    padding-top: 2rem;
    align-content: center;
    font-size: .7rem;
    text-align: center;
}

.carousel {
    margin-top: 5rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
}
.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}
img:hover {
    border: .2rem solid #aca6a3;
}
.carousel-caption {
    font-size: 90%;
    margin-bottom: 0px;
    padding: 1.6rem .5rem 0 .5rem;
    height: 160px;
    width: 400px;
    background-color: black;
    color: white;
    opacity: 72%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-inline {
    justify-content: center;
    margin-top: 50px;
}
p{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;
}
h2 p{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15px;
    color: white;
    text-align: center;
}
h5 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: -2rem;
    height: 50%;
    width: 50%;
}
.section2{
    flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    background-color: gray;
    padding: 1em 1em 1em 1em;
}
.section3{
    flex-basis: 180px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em 1em 1em 1em;
}
.maindiv{
    display: flex;
    height: 100%;
}
.div2{
    flex-wrap: wrap;
    justify-content: center;
    display:flex;
    transition-duration: 1s;
}
.div3{
    flex-wrap: wrap;
    justify-content: center;
    display:flex;
    transition-duration: 1s;
}
.div3 i{
    padding: .25rem;
    text-align: center;
    color:white;
}
.div4{
    flex-wrap: wrap;
    justify-content: center;
    display:flex;
    transition-duration: 1s;
}
.div4 p{
    color: white;
    font-size: 17px;
}
.div4 i{
    padding: .25rem;
    text-align: center;
    color:red;
}

.div2 p{
    padding:.5rem 1rem;
}
.card1{
    flex: 0 0 250px;
    align-items: flex-start;
    flex-basis: 4in;
    text-align: center;
    background-color: black;
    opacity: 75%;
    padding: .5rem;
    margin: .5rem;
    border: 10px;
    border-radius: 10px;
    box-shadow: 01px3pxrgba(0,0,0,0.16),01px3pxrgba(0,0,0,0.23);
    transition-duration: 1s;
}
.card1 h1{
    font-size: 30px;
}
.card1 p{
    font-size: 20px;
    line-height: 30px;
}
.card2{
    display: block;
}
.card1:hover, .card2:hover{
    flex-basis: 5in;
}
.playBar{
    flex: 0 0 250px;
    align-items: flex-start;
    text-align: center;
    flex-basis: 4in;
    background-color: black;
    opacity: 75%;
    padding: .5rem;
    margin: .5rem;
    border: 10px;
    border-radius: 10px;
    box-shadow: 01px3pxrgba(0,0,0,0.16),01px3pxrgba(0,0,0,0.23);
    transition-duration: 1s;
}
section{
    font-size: 1.5rem;
    color: white;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}


.footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.lists {
    display: block;
}
.footer-content {
    flex: 1;
}
footer{
    background-color: rgba(245, 245, 245, 0.582);
    text-align: center;
    width: 100%;
    color: black;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
footer p{
    padding-top: 1rem;
    font-weight: 00;
}
.play{
    font-size:24px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    transition-duration: .2s;
}

.play:hover{
    font-size:  30px;
}
.about{
       text-align: center;
}
.about img{
       text-align: center;
}
.about p{
       font-size: 20px;
       line-height: 20px;
}

.cards2 {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 3rem;
}

.flip-card2 {
    width: 350px;
    height: 350px;
    perspective: 700px;
}
  
.flip-card-inner2 {
    position: relative;
    width: 350px;
    height: 350px;
    /* text-align: center; */
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
}
  
.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 350px;
    height: 350px;
    backface-visibility: hidden;
    opacity: .75;
    border-radius: 10px;
}
  
.flip-card-front2 {
    background-color: black;
}
  
.flip-card-front2 {
    color: white;
}
  
.flip-card-back2 {
    background-color: rgba(58, 54, 54, 0.596); 
    color: white;
    transform: rotateY(180deg);
}

p.cardTitle2 {
    padding: 70px 20px 100px 20px;
    font-size: 200%;
    text-align: center;
}

p.cardContent2 {
    padding: 40px 20px 100px 20px;
    margin-bottom: 80px;
    font-size: 90%;
}


@media screen and (max-width: 598px){
    .topnav a:not(:first-child) {
       display: none;
   }
    .topnav a.icon {
        float: left;
        display: block;
   }
}
@media screen and (max-width: 598px) {
    .topnav.responsive {
        position: relative;
   }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
   }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
   }
}
@media (min-width: 768px){
    
    h1{
       
        font-size: 2rem;
   }
  
    .card2{
        flex: 0 0 250px;
        align-items: flex-start;
        text-align: center;
        flex-basis: 4in;
        background-color: black;
        opacity: 75%;
        padding: .5rem;
        margin: .5rem;
        border: 10px;
        border-radius: 10px;
        box-shadow: 01px3pxrgba(0,0,0,0.16),01px3pxrgba(0,0,0,0.23);
        transition-duration: 1s;
   }
    .card2 h1{
        font-size: 30px;
   }
    .lists li{
        font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
        font-size: 30px;
        font-style: normal;
        font-variant: normal;
        line-height: 40px;
        color: white;
   }
    .lists{
        font-size: .5rem;
   }
}
#footerp{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;

}
